<!DOCTYPE html>
<html>
<head>
  <title>Tafelspitz</title>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <!-- <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['gmap_key']}"%> -->
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD3HJ7MGBR_O5MHOctcNbh7gAlgAUfnphQ" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<%= yield %>

</body>
</html>
